//COLORS
$colorPrimary: #1db954;
$colorPrimaryLight: #43e543;
$colorWhite: #fff;
$colorBlack: #0f1c30;
$colorGreyLight: #f2f2f2;
$colorGreyDark: #585859;
$colorRed: #d00000;
$colorGreen: #1db954;

// FONT
$defaultFontSize: 1.6rem;
